body {
  font-family: Verdana, sans-serif;
}


header {
  margin-top: -20px;
  margin-left: -8px;

  position: fixed;
  height: 5em;
  width: 100%;
  background-color:black;
  vertical-align: center;
  z-index: 100;
}
.main {
  position: relative;
  top: 10%;
  left: 5px;
  font-size: 3em;
  color: white;
  clear: left;
  font-family: fantasy;
}

header a {
  text-decoration: none;
  color:silver;
}

header a:hover {
  color: orange;
}

section {
  z-index: 99;
}
section h2 {
  position: relative;
  top: 5em;
  font-size: 1.5em;
  font-family: fantasy;
  text-align: center;
}
section div {
  position: relative;
  height: 0.2em;
  width: 10%;
  left: 45%;
  top: 8em;
  border-radius: 50%;
  background-color: black;
}
section p {
  position: relative;
  font-size: 0.85em;
  text-align: center;
  font-family: fantasy;
  width: 60%;
  clear: both;
  top: 10em;
  left: 20%;
}

.sublime {
  position: relative;
  width: 105%;
  margin-left: -8px;
  top: 6em;
}
.journey {
  position: relative;
  width: 105%;
  margin-left: -8px;
  top: 30em;
}
.atsai {
  position: relative;
  width: 105%;
  margin-left: -8px;
  top: 16em;
}
.icon {
  position: relative;
  top: 10em;
  width: 75px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  left: 25%;
}

footer a {
  position: relative;
  font-size: 0.5em;
  top: 100em;
  margin-bottom: 2%;
}

ul {
  position: relative;
  top:90%;
  list-style-type: none;
}

ul li {
  display: inline;
}

ul a:link {
  color: black;
}
ul a:hover {
  color: orange;
}
ul a:visited {
  color: black;
}