* {
  font-family: Verdana, sans-serif;
}

header {
  text-align: left;
  color:#00247D;
}

nav div {
  text-align: center;
  height: 20px;
  width:100%;
  background-color:#110000;
}
nav a {
  background-color: #110000;
  text-decoration: none;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: #c6cbcc;
}

.profile {
  float:right;
}

section div {
  padding-top: 50px;
  height:1px;
  width: 100%;
  color: blue;
  clear: both;
}