body {
  background-color: #c3c4c6;
}


.main-focus {
  height: 56em;
  margin:0;
  background-color: black;
  text-align: center;
  color: white;
}

.main-icon {
  position: absolute;
  top: 8.5em;
  right: 40.5%;
}

.background-pale {
  background-color: #ebebec;
}

.sub-title {
  position: absolute;
  top: 23em;
  right: 4em;
}

.medium-font {
  font-size: 1.2em;
}

.arrow-down {
  position: absolute;
  top: 35em;
}

.text-justify {
  text-align: justify;
}